/*--------general styles*/
:root {
  --dark: #202b35;
  --mid: #8393ca;
  --light: #dbdacb;
  --white: #fff;
}

* {
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
}

body {
    background-color: #202b35;
}

.margin-top {
  margin-top: 20px;
}

.box {
  background-color: var(--mid);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px lightpink;

}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.center-row {
  align-items: center;
}

/*--------header styles*/

.moon-container {
  margin: 0 auto;
  position: fixed;
  left: 50%;
  margin-left: -75px;
  z-index: 999;
}

.moon-phase {
  background-color: #dbdacb;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

header {
  height: 150px;
  padding: 30px;
}

/*--------main content styles*/

.large-box {
  margin: 10px 0px;
}

p {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color:var(--white);

}

h1 {
  font-size: 40px;
  text-shadow: 2px 2px 5px #202b35;
  color: var(--light);
  font-weight: 900;
  font-style: italic;

}

footer {
  background-color: #202b35;
  border-radius: 20px;
}

button {
  background-color: #8393ca;
  box-shadow: 2px 2px 2px 1px lightpink;
}


