/*--------general styles*/
:root {
    --dark:#202b35;
    --mid: #8393ca;
    --light: #dbdacb;
    --white: #fff;
}

*
{
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body
{
    background-image: linear-gradient(180deg, var(--dark) 0%, var(--white) 90%);
}

.margin-top
{
    margin-top: 20px;
}

.box
{
    background-color: var(--mid);
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0px;
}

.row
{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.center-row
{
    align-items: center;
}


/*--------header styles*/

.moon-container
{
    margin: 0 auto;
    position: fixed;
    left: 50%;
    margin-left: -75px;
    z-index: 999;
}

.moon-phase
{
    background-color: #dbdacb;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

header
{
    height: 150px;
    padding: 30px;
}

header h1
{
    font-weight: 700;
    font-size: 5vw;
    background-image: linear-gradient(180deg, var(--light) 20%, black 100%);
    background-clip: text;
    color: var(--light);
    -webkit-background-clip: text;
}

header p
{
    color: var(--white);
}

/*--------main content styles*/

.last-box
{
    margin-top: 10px;
}

@media screen and (min-width: 870px)
{
    .moon-container
    {
        top: 1%;
    }
    .column, .columns
    {
        margin-left: 4%;
    }
}

@media screen and (max-width: 870px)
{
    header
    {
        height: 75px;
        padding: 150px 0px 0px 0px;
    }
    .column, .columns
    {
        margin-left: 0%;
    }
    .row
    {
        flex-wrap: wrap;
    }
    .row-one
    {
        flex: 1 0 100%;

    }
    .divider
    {
        flex: 1 0 100%;
    }
}