/*--------general styles*/
:root {
  --dark: #202b35;
  --mid: #8393ca;
  --light: #dbdacb;
  --white: #fff;
}

* {
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
}

.margin-top {
  margin-top: 20px;
}

.box {
  background-color: var(--mid);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px #301934;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.center-row {
  align-items: center;
}

/*--------header styles*/

.moon-container {
  margin: 0 auto;
  position: fixed;
  left: 50%;
  margin-left: -75px;
  z-index: 999;
}

.moon-phase {
  background-color: #dbdacb;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

header {
  height: 150px;
  padding: 30px;
}

/*--------main content styles*/

.large-box {
  margin: 20px 0px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.large-box h2 {
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  text-shadow: 1px 1px #0000;
  margin-top: 24px;
}

.large-box p {
  font-size: 16px;
}

.large-box h3 {
  font-size: 26px;
  font-weight: 800;
}

p {
  text-align: center;

  color: var(--white);
}
header h1{
    background: -webkit-linear-gradient(#efefef,rgb(252, 252, 252));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 40px;
  text-shadow: 2px 2px 5px #202b35;
  color: var(--light);
  font-weight: 900;
}

footer {
  background-color: #202b35;
  border-radius: 20px;
}

button {
  background-color: #8393ca;
  box-shadow: 2px 2px 2px 1px #301934;
}

.five p {
  font-size: 12px;
  margin-bottom: 0px;
  text-align: left;
}

.five h3 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 1px;
}

#dark-box\ six\ columns {
  padding: 10px;
  background-color: #202b35;
  color: rgb(255, 255, 255);
  border-radius: 20px;
}

#dark-box\ six\ columns h2 {
    font-size: 28px;
    font-weight: 800;
    margin: 0 auto 25px auto;
    border-bottom: 2px solid var(--white);
    width: 80%;
    padding-bottom: 5px;
}

.second-box .box{
    margin-bottom: 10px;
    background-color: #202b35;
    color: #fff;
    font-size: 17px;
}

/*-- Quiz Section --*/
.hide {
  display: none;
}

.controls {
  display: flex;

}

